@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1135px;
  margin: 0 auto;
}

.suptitle {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 11px;
}
.suptitle::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffa501;
  z-index: -1;
}

.title {
  position: relative;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 12px;
}
.title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ffa501;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  z-index: 50;
  padding: 15px 0px;
  background-color: #000;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 7px 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__link {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: #ffa501;
  }
}

.promo {
  position: relative;
  padding-top: 210px;
  height: 100vh;
}
.promo__content {
  position: relative;
  z-index: 1;
  color: #fff;
}
.promo__body {
  max-width: 600px;
}
.promo__suptitle {
  color: #fff;
  margin-bottom: 13px;
}
.promo__title {
  color: #fff;
  font-size: 48px;
}
.promo__title:not(:last-child) {
  margin-bottom: 35px;
}
.promo__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.promo__btn {
  min-width: 135px;
  padding: 15.5px 15px;
  background-color: #ffa501;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.promo__link {
  color: #fff;
  font-weight: 700;
}
@media (any-hover: hover) {
  .promo__link:hover {
    text-decoration: underline;
  }
}
.promo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1360px) {
  .promo__panel {
    position: absolute;
    left: -90px;
    top: 364px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    z-index: 2;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .promo__text {
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding-right: 85px;
  }
  .promo__text::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 70px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .promo__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .promo__item {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
}
@media (min-width: 1360px) and (any-hover: hover) {
  .promo__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.about-me {
  padding: 90px 0 45px;
}
.about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.about-me__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.24%;
          flex: 0 0 35.24%;
  position: relative;
  padding-top: 52.87%;
}
.about-me__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-me__suptitle {
  margin-bottom: 16px;
}
.about-me__title {
  margin-bottom: 20px;
}
.about-me__text p {
  line-height: 1.5;
}
.about-me__text p:not(:last-child) {
  margin-bottom: 20px;
}
.about-me__text p span {
  font-weight: 700;
}